*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.about{
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
    /* background-color: red; */
}
.container{
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self:center;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.container > h1 {
    color: white;
    font-size: 4em;

}

.container > p  {
    color: white;
    font-size: 20px;
}